// Helpers for shared items
// NOTE: never use two helpers that can cancel each other
//----------------------------------------------------------------------------------------------------------------------

.h-boldTxt {
	font-weight: bold;
}

.h-fullWide {
	display: inline-block;
	width: 100%;
}

.h-layoutWidth90 {
    width: 90%;
    margin: 0 auto;
}

.ant-tabs-ink-bar,
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-item-selected {
    background: $green;
}

.ant-btn:hover, .ant-btn:focus,
.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-nav .ant-tabs-tab:hover {
    color: $green;
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus, .ant-select-selection:active,
.ant-btn:hover,
.ant-btn:focus,
.ant-input:focus,
.ant-input:hover {
    border-color: $green;
}

.ant-select-dropdown-menu-item:hover {
    background-color: $greenLight;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus,
.ant-btn-primary {
    background-color: $green;
    border-color: $green;
}
.ant-spin {
    color: $green;
}

.ant-spin-dot i {
    background-color: $green;
}
