// Primary colors
$primary: #1890ff;
$primaryDark: #001529;
$light: #fff;
$primaryText: rgba(255, 255, 255, 0.65);
$passiveGray: #F0F2F5;

// Secondary colors


// Alternative colors


// Passive colors

// General colors

// Screen sizes
$desktop: 1200px;
$tabletLandscape: 1024px;
$tabletPortrait: 768px;
$phablet: 640px;
$mobile: 480px;
$bootstrapThreshold: 520px;

$headerHeight: 64px;
$footerHeight: 48px;
