// Primary colors


// Secondary colors


// Alternative colors


// Passive colors

// General colors

// Screen sizes
$desktop: 1200px;
$tabletLandscape: 1024px;
$tabletPortrait: 768px;
$phablet: 640px;
$mobile: 480px;
$bootstrapThreshold: 520px;
