.DayTabs {
	width: 90%;
	margin: 0 auto;

	.ant-tabs-nav {
		display: flex;
		@media (max-width: 575px) {
			flex-direction: column;
		}
	}

	.ant-tabs-tab {
		width: 20%;
		text-align: center;
		@media (max-width: 575px) {
			width: 100%;
		}
	}

	.ant-tabs-tab-active {
		@media (max-width: 575px) {
			text-decoration: underline;
		}
	}
}

.DayTabsPane {
	width: 20%;
}
