.NameFieldWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 40px;
}

.NameField {
  width: 300px;
  height: 48px;
  display: block;
}

.submitOrderButton {
  width: 200px;
  height: 48px;
}